/*************************/
/***** DZGN.IO STYLE *****/
/*************************/

@import url(https://fonts.googleapis.com/css?family=Paytone+One);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #313131;
  color: white;
  font-size: 24px;
}

h1 {
  color: #313131;
  margin-top: 20px;
  padding-left: 30px;
  font-weight: bold;
}

h2 {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 33px;
  margin-top: 120px;
}

h3 {
  font-weight: 400;
  margin-bottom: 40px;
  margin-top: 40px;
}

p {
  line-height: 1.3;
}

ul {
  margin-left: 30px;
}

a {
  color: #888888;
}

a:hover {
  color: #E52C5F;
}

header {
  height: 100%;
}

header .row {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


/************************/
/**** CLASS SELECTORS ***/
/************************/


.brand {
  font-family: 'Paytone One';
  color: white;
  font-size: 64px;
  margin-left: -22px;
}

.background {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
  display: block;
  overflow: hidden;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}

.img {
  border-radius: 20px;
}

.project-title {
  text-align: center;
}

.body-dark {
  color: #313131;
  padding-left: 30px;
  padding-right: 30px;
}

.bio-pic {
  border-radius: 100%;
  margin-top: 60px;
}

.bio {
  padding-top: 30px;
}

.bio-container {
  text-align: left;
}

.text {
  padding-top: 20px;
  padding-bottom: 20px;
}

.thumbnail {
  position: relative;
  display: block;
  width: 100%;
  background-color: black;
  opacity: 1;
  border-style: none;
  box-shadow: 0 0 0 0;
  border-radius: 20px;
}

.thumbnail:hover {
  box-shadow: 0 0 0 0;
  border-style: none;
  border-radius: 20px;
}

.thumbnail:hover .thumbnail-title {
  opacity: 1;
}

.thumbnail:hover .img {
  opacity: 0.6;
}

.thumbnail-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  bottom: 60px;
  left: 0px;
  right: 0px;
  color: #FFF;
  opacity: 0;
}

.full-width {
  width: 100%;
}

.reveal {
  border-radius: 20px;
}

.logo-container {
  text-align: center;
}

.footer {
  width: 100%;
  background-color: #666;
  margin-top: 140px;
  text-align: center;
  padding: 25px;
  color: #313131;
  font-weight: bold;
}

.profile {
  border-radius: 100%;
  padding: 15px;
}

.profile:hover {
  opacity: 0.0;
}

.profile-hover {
  border-radius: 100%;
  padding: 15px;
}

.profile-container {
  position: relative;
}

.profile-container:hover {
  animation-name: boop;
  animation-duration: 0.1s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

.profile-container img:last-child {
  display: none
}

.profile-container:hover img:first-child {
  display: none
}

.profile-container:hover img:last-child {
  display: inline-block
}

.social {
  color: #313131;
  padding-left: 10px;
  padding-right: 10px;
}

.social:hover {
  color: #202020;
}

h1 a.social {
  font-size: 1.5rem;
}

.contentButton {
  width: 100%;
  height: 80px;
  font-size: 30px;
  color: white;
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
}

.nycButton {
  background-color: #EA4D5B;
  color: white;
}

.nycButton:hover {
  background-color: #d74955;
}

.svg-wrap {
  position: absolute;
  width: 0px;
  height: 0px;
  overflow: hidden;
}


/************************/
/***** ID SELECTORS *****/
/************************/


#logo {
  align-items: center;
  width: 230px;
}


/************************/
/****** ANIMATIONS ******/
/************************/


@keyframes boop {
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1.0);
  }
}


/************************/
/***** MEDIA QUERIES ****/
/************************/


/* SMALL ONLY */
@media screen and (max-width: 39.9375em) {
  .thumbnail .thumbnail-title {
    opacity: 1;
    font-size: 24px;
    bottom: 20px;
    text-shadow: 2px 2px 20px #313131;
  }
}

/* MEDIUM AND UP */
@media screen and (min-width: 40em) {}

/* MEDIUM ONLY */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* LARGE AND UP */
@media screen and (min-width: 64em) {}

/* LARGE ONLY */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}