body {
    background-color: #313131;
    color: white;
    font-family: 'Lato-Regular';
    font-size: 24px;
}

h1{
    font-family: 'Paytone One' sans-serif;
    color: white;
}

h2{
    font-size: 48px;
    font-weight: 500;
    padding-bottom: 33px;
    padding-top: 66px;
}

.full-width {
  width: 100%;
}

#logo {
  align-items: center;
  width: 230px;
}

.logo-container{
    text-align: center;
}

.footer {
  width: 100%;
  background-color: #666;
    margin-top: 140px;
    text-align: center;
    padding: 25px;
    color: #313131;
    font-weight: bold;
}

.profile {
  border-radius: 100%;
}

.profile-hover {
  position: absolute;
}

.profile-container {
  position: relative;
}

.profile:hover {
  opacity: 0.0;
}

.social{
    color: #313131;
    padding-left: 10px;
    padding-right: 10px;
}

.social:hover{
    color: #202020;
}

#albert:hover{
    content: url(../img/albertHover.png);
}

#eddy:hover{
    content: url(../img/eddyHover.png);
}

#rehan:hover{
    content: url(../img/rehanHover.png);
}

#luke:hover{
    content: url(../img/lukeHover.png);
}