---
layout: default
---

<section class="row">
  <div class="small-12 columns link-svgline">
    <h2>Dzgn for the Technical World</h2>
    <p>Developers rock the command line. Designers visualize the impossible. In the same room, they speak different languages. In one person… </p>
    <p>We experienced the divide between the design and development worlds, and sought to try something radical - devzgners were the result. Devzgners speak a new full-stack language, where they visualize the impossible and rock the command line.</p>
    <p>We consult and create products that solve problems by breaking convention.</p>
    <p style="font-family: 'Paytone One';">#Dzgn.IO</p>
  </div>
</section>

<section class="row">
  <div class="small-12 columns">
    <h2>Our Work</h2>
  </div>
  
  {% assign sorted_works = (site.works | sort: 'date' | reverse) %}
  
  {% for work in sorted_works %}
    <div class="small-12 medium-4 columns thumbnail-tile">
      <a class="post-link" href="{{ work.url | prepend: site.baseurl }}">
        <div class="thumbnail-container">
          <img class="thumbnail-image" src="{{ work.thumbnail }}">
          <span class="thumbnail-text">{{ work.title }}</span>
          {% if work.tags == "event" %}
            <span class="thumbnail-text banner">Event</span>
          {% endif %}
        </div>
      </a>
    </div>
  {% endfor %}
</section>

<section class="row">
  <div class="small-12 columns">
    <h2>Team</h2>
  </div>

    {% assign sorted_team = (site.team | sort: 'date' | reverse) %}
    {% for person in sorted_team %}
      <div class="small-6 medium-6 large-3 columns">
        <a class="post-link" href="{{ person.url | prepend: site.baseurl }}">
          <div class="profile-container" id="{{ person.permalink }}">
            <img class="full-width profile" src="img/{{ person.thumbnail }}">
            <img class="full-width profile-hover" src="img/{{ person.thumbnail-hover }}">
          </div>
        </a>
    </div>
  {% endfor %}
</section>
