---
layout: default
---

<section class="row">
  <div class="small-12 columns link-svgline">
    <h2>Dzgn for the Technical World</h2>
    <p>Developers rock the command line. Designers visualize the impossible. In the same room, they speak different languages. In one person… </p>
    <p>We experienced the divide between the design and development worlds, and sought to try something radical - devzgners were the result. Devzgners speak a new full-stack language, where they visualize the impossible and rock the command line.</p>
    <p>We consult and create products that solve problems by breaking convention.</p>
    <p style="font-family: 'Paytone One';">#Dzgn.IO</p>
  </div>
</section>

<section class="row">
  <div class="small-12 columns">
    <h2>Projects</h2>
  </div>
  {% for post in site.posts %}
    {% for tag in post.tags %}
      {% if tag == "project" %}
        <div class="small-12 medium-4 large-3 columns thumbnail-tile">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            <div class="thumbnail-container">
              <img class="thumbnail-image" src="{{ post.thumbnail }}">
              <span class="thumbnail-text">{{ post.title }}</span>
              {% if post.banner %}
                <span class="banner">{{ post.banner }}</span>
              {% endif %}
            </div>
          </a>
      </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
</section>


<section class="row">
  <div class="small-12 columns">
    <h2>Events</h2>
  </div>

  {% for post in site.posts %}
    {% for tag in post.tags %}
      {% if tag == "event" %}
        <div class="small-12 medium-4 large-3 columns thumbnail-tile">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            <div class="thumbnail-container">
              <img class="thumbnail-image" src="{{ post.thumbnail }}">
              <span class="thumbnail-text">{{ post.title }}</span>
              {% if post.banner %}
                <span class="banner">{{ post.banner }}</span>
              {% endif %}
            </div>
          </a>
      </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
  
</section>

<section class="row">
  <div class="small-12 columns">
    <h2>Team</h2>
  </div>

    {% for post in site.posts %}
    {% for tag in post.tags %}
      {% if tag == "team" %}
        <div class="small-6 medium-6 large-3 columns">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            <div class="profile-container" id="{{ post.permalink }}">
              <img class="full-width profile" src="{{ post.thumbnail }}">
              <img class="full-width profile-hover" src="{{ post.thumbnail-hover }}">
            </div>
          </a>
      </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
</section>
