#wdwWatermarkRight {
    position: absolute;
    right: -200px;
    transform:rotate(-30deg);
    -webkit-transform:rotate(-30deg);
    opacity: 0.3;
    width: 700px;
    top: 500px;
}

#wdwWatermarkLeft {
    position: relative;
    margin-top: 1100px;
    transform:rotate(30deg);
    -webkit-transform:rotate(30deg);
    opacity: 0.3;
    width: 1000px;
    left: -730px;
}

div.code {
  margin-top: 40px;
  margin-bottom: 40px;
}

.code-block {
  width: 100%;
  background-color: #4c4c4c;
  border-radius: 20px;
}

.code-block pre {
  padding: 20px;
}

.code-block code {
  background-color: transparent;
  color: #FFF;
  border: none;
  font-family: 'Lato', sans-serif;
}