---
layout: default-toolkit
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="post-content" itemprop="articleBody">
    <div class="row">
      <div class="small-12 medium-9 medium-centered large-centered">
        <h1 class="project-title">{{ page.title }}
          <a class="social bio-link" target="_blank" href="https://github.com/DzgnIO/toolkit/tree/master/{{ page.code }}"><i class="fa fa-code fa-2x"></i></a>
        </h1>
        <hr>
        {{ content }}
      </div>
    </div>
  </div>

</article>
